@charset "UTF-8";
.activate {
  border-bottom: 2px solid deeppink;
}

.active {
  background-color: #ff0062 !important;
  color: white !important;
}

@keyframes mostrarLogo {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(17px);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "system-ui";
}

#botones_estaticos {
  position: fixed;
  z-index: 10;
  writing-mode: vertical-rl;
  left: 0px;
  padding: 3px 5px 7px 2px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgba(0, 0, 0, 0.856);
  bottom: 0;
  text-align: center;
  transform: translateX(-30px);
  transition: all 0.2s;
}
#botones_estaticos a {
  padding-right: 15px;
  text-decoration: none;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}
#botones_estaticos .redes {
  padding-right: 5px;
}
#botones_estaticos .redes .facebook {
  width: 25px;
  margin-top: 5px;
}
#botones_estaticos .redes .instagram {
  width: 25px;
  margin-top: 5px;
}
#botones_estaticos .redes .pinterest {
  width: 22px;
  margin-top: 5px;
}
#botones_estaticos .redes .twitter {
  width: 21px;
  margin-top: 5px;
}
#botones_estaticos .redes .youtube {
  width: 24px;
  margin-top: 5px;
}

#botones_estaticos:hover {
  transform: translateX(0px);
}

#navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.877);
  display: flex;
  padding: 0px 0px 0px 5px;
  color: white;
  box-shadow: 0px 0px 10px black;
}
#navbar .mostrarLogo {
  align-self: center;
}
#navbar .mostrarLogo .icono_tooeshop {
  width: 37px;
  height: 37px;
  align-self: center;
  border-radius: 50px;
  background-image: url("../escuelasiade/iconos/tooeshop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55px;
  padding: 5px;
  position: relative;
  z-index: 10;
}
#navbar .mostrarLogo .icono_tooeshop:hover {
  filter: opacity(0.8);
  transition: all 0.2s;
}
#navbar .mostrarLogo:hover::after {
  content: "Volver a tooEshop";
  position: absolute;
  color: white;
  z-index: 9;
  font-size: 16px;
  padding: 5px 10px 5px 30px;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  align-self: center;
  animation: mostrarLogo 0.2s linear forwards;
  margin-top: 7px;
  font-weight: 300;
}
#navbar .pestañas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
#navbar .pestañas a {
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  transition: all 0.2s;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
#navbar .pestañas a:hover {
  background-color: rgba(255, 255, 255, 0.267);
}
#navbar .navbarOff {
  display: flex;
  justify-content: end;
  margin-left: auto;
}
#navbar .navbarOff a {
  color: white;
  text-decoration: none;
  padding: 15px 10px;
  transition: all 0.2s;
  letter-spacing: 1px;
  font-size: 14px;
  align-self: center;
  height: 100%;
  font-weight: 300;
  text-transform: uppercase;
  flex: auto;
  white-space: nowrap;
}
#navbar .navbarOff a img {
  width: 20px;
  margin-right: 2px;
  vertical-align: bottom;
}
#navbar .navbarOff a:hover {
  background-color: rgba(255, 255, 255, 0.219);
}
#navbar .navbarOff a:active {
  font-size: 12px;
}
#navbar .perfil {
  display: flex;
  justify-content: end;
  margin-left: auto;
}
#navbar .perfil p {
  position: absolute;
  right: 53px;
  top: 16px;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2px;
}
#navbar .perfil .perfil_usuario {
  width: 37px;
  height: 37px;
  background-color: white;
  border-radius: 50px;
  background-image: url("../escuelasiade/perfil.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  align-self: center;
  margin-right: 5px;
}
#navbar .perfil .perfil_usuario .button_verPerfil {
  width: 135px;
  height: 37px;
  border: 1px solid deeppink;
  border-radius: 50px;
  margin-right: 2px;
  position: absolute;
  top: 7px;
  right: 3px;
  background-color: transparent;
}
#navbar .perfil .perfil_usuario .button_verPerfil:focus {
  box-shadow: none;
}
#navbar .perfil .perfil_usuario .button_verPerfil:hover {
  background-color: rgba(0, 0, 0, 0.274);
}
#navbar .perfil .perfil_usuario .button_verPerfil:active {
  background-color: rgba(255, 20, 145, 0.164);
}
#navbar .perfil .perfil_usuario .offcanvas {
  width: 300px;
  background-color: white;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-header {
  color: black;
  align-items: center;
  box-shadow: 0px 5px 2px #e9e9e9;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-header .profile_cover {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: -5px;
  margin-right: 10px;
  background-image: url("../escuelasiade/perfil.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #4b4b4b;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-header .profile_data h5 {
  font-weight: 400;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-header .profile_data h6 {
  font-weight: 400;
  font-size: 13px;
  color: dimgray;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-header h5 {
  margin: 0px;
  font-weight: 400;
}
#navbar .perfil .perfil_usuario .offcanvas hr {
  color: black;
  width: 90%;
  margin: auto;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body {
  width: 110%;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 9px;
  font-weight: 300;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.363);
  margin-top: 15px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil {
  margin-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s;
  color: #353535;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil img {
  width: 35px;
  padding: 7px;
  background-color: white;
  border: 1px solid deeppink;
  border-radius: 50px;
  transition: all 0.2s;
  margin-right: 3px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil:hover {
  background-color: black;
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil:hover .mi_cuenta {
  border: 1px solid #ff0077;
  padding: 5px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil:hover .compras_realizadas {
  border: 1px solid #ff0077;
  padding: 5px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil:hover .reputacion {
  border: 1px solid #ff0077;
  padding: 5px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .pestaña_perfil:hover .cerrar_sesion {
  border: 1px solid #ff0077;
  padding: 5px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .canvas_bottom {
  position: absolute;
  width: 90%;
  bottom: 10px;
  text-align: center;
  margin-left: 5px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .canvas_bottom img {
  position: relative;
  width: 150px;
  filter: opacity(0.5);
  margin-bottom: 0px;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .canvas_bottom .footer_canvas {
  position: relative;
  color: black;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 300;
  filter: opacity(0.5);
  right: 0;
}
#navbar .perfil .perfil_usuario .offcanvas .offcanvas-body .canvas_bottom .footer_canvas a {
  text-decoration: none;
  color: deeppink;
}

.offcanvas-backdrop::before {
  z-index: 3;
}

#header .cover_image {
  background-image: url("../escuelasiade/portada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  position: relative;
  z-index: 1;
}
#header .cover_image p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 20px 3px 20px;
  bottom: -10px;
  left: 5px;
  color: #d8d8d8;
  cursor: pointer;
  font-weight: 300;
  border-radius: 3px;
  transition: all 0.2s;
}
#header .cover_image p img {
  width: 25px !important;
  margin-right: 3px;
}
#header .cover_image p:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#header .cover_image .profile_image {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  background: white;
  background-image: url("../escuelasiade/perfil.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #4b4b4b;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  bottom: -20px;
}
#header .cover_image .profile_image input {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.603);
  position: absolute;
  bottom: 0;
  right: 10px;
  border-radius: 100px;
  border: 1px solid transparent;
  z-index: 9;
}
#header .cover_image .profile_image img {
  width: 32px;
  margin-left: 5px;
  margin-top: 4px;
  position: absolute;
  bottom: 5px;
  right: 15px;
  background-color: rgba(22, 22, 22, 0.644);
  border-radius: 50px;
  padding: 4px;
  cursor: pointer !important;
  transition: all 0.2s;
}
#header .cover_image .profile_image img:hover {
  background-color: rgba(0, 0, 0, 0.726);
}
#header .cover_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.4);
  z-index: -1;
}
#header .titulo {
  text-align: center;
}
#header .titulo h1 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
}
#header .descripcion {
  text-align: center;
}
#header .descripcion p {
  line-height: 17px;
  color: #4e4e4e;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 15px;
  max-width: 650px;
  margin: auto;
}
#header .descripcion a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 2px 10px;
  transition: all 0.2s;
}
#header .descripcion a:hover {
  background-color: #777777;
  color: white;
}
#header .descripcion p:focus {
  border: 1px solid white;
  background-color: white;
  box-shadow: 0px 0px 10px #e6e6e6;
  outline-color: transparent;
  outline-style: ridge;
}

.linea_horizontal {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  color: transparent;
}

#navegador {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.877);
  display: flex;
  padding: 0px 0px 0px 5px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  z-index: 2;
}
#navegador .pestañas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
#navegador .pestañas a {
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  transition: all 0.2s;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
#navegador .pestañas a:hover {
  background-color: rgba(255, 255, 255, 0.267);
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
  position: fixed;
  z-index: 10;
  top: 50px;
  width: 100%;
}

#productos {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#productos h1 {
  font-size: 42px;
  font-weight: 200;
}
#productos h1 span {
  background-color: #ff0062;
  color: white;
}
#productos h6 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 3px 10px;
  transition: all 0.2s;
}
#productos h6 a:hover {
  background-color: #777777;
  color: white;
}
#productos #productos_disponibles {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}
#productos #productos_disponibles .card {
  margin-top: 45px;
  width: 18rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px #f1f1f1;
  border: none;
  flex: auto;
  max-width: 300px;
}
#productos #productos_disponibles .card .image_product {
  background-color: white;
  width: 100%;
  height: 150px;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#productos #productos_disponibles .card .image_product img {
  height: 150px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#productos #productos_disponibles .card .card-body {
  padding: 3px;
}
#productos #productos_disponibles .card .card-body .card-title {
  margin-bottom: 0px;
  color: black;
  font-weight: 600;
  font-size: 15px;
}
#productos #productos_disponibles .card .card-body .card-subtitle {
  color: #666666;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 400;
}
#productos #productos_disponibles .card .card-body hr {
  margin: 4px 0px 0px 0px;
  color: black;
}
#productos #productos_disponibles .card .card-body .card-text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  font-weight: 300;
  min-height: 90px;
  max-height: 90px;
  overflow-y: scroll;
  text-align: left;
}
#productos #productos_disponibles .card .card-body .first-button {
  background-color: white !important;
  color: #646464 !important;
  border: 1px solid #646464 !important;
}
#productos #productos_disponibles .card .card-body .first-button:focus {
  box-shadow: none;
}
#productos #productos_disponibles .card .card-body .card-button {
  background-color: #ff006a;
  border: 1px solid #ff006a;
  color: white;
  font-weight: 300;
  padding: 2px 30px;
  font-size: 13px;
  min-width: 161px;
}
#productos #productos_disponibles .card .card-body .card-button:focus {
  box-shadow: none;
}
#productos #productos_disponibles .card .card-body .card-button:hover {
  background-color: transparent;
  color: #ff006a;
  border-color: #ff006a;
}
#productos #productos_disponibles .card .card-body .card-bottom {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 13px;
  color: black;
}
#productos #productos_disponibles .card .card-body .card-bottom span {
  background-color: black;
  color: white;
  padding: 0px 3px;
}
#productos #botonVerMas {
  padding: 3px 40px;
  background-color: #eeeeee;
  color: black;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #ebebeb;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.2s;
}
#productos #botonVerMas:active {
  background-color: #d4d4d4;
  color: black;
}

#temario {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#temario h1 {
  font-size: 42px;
  font-weight: 200;
}
#temario h1 span {
  background-color: #ff0062;
  color: white;
}
#temario h6 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 3px 10px;
  transition: all 0.2s;
}
#temario h6 a:hover {
  background-color: #777777;
  color: white;
}
#temario ul {
  margin-top: 50px;
}
#temario ul li {
  text-align: left;
  font-weight: 300;
  margin: 5px;
}

#descripcion {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#descripcion h1 {
  font-size: 42px;
  font-weight: 200;
}
#descripcion h1 span {
  background-color: #ff0062;
  color: white;
}
#descripcion h6 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 3px 10px;
  transition: all 0.2s;
}
#descripcion h6 a:hover {
  background-color: #777777;
  color: white;
}
#descripcion .contenedorDescripcion {
  margin-top: 50px;
  display: flex;
  height: 500px;
  border: 1px solid transparent;
  overflow: hidden;
}
#descripcion .contenedorDescripcion .pIzquierda {
  width: 30%;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 20px #c2c2c2;
  display: flex;
  flex-flow: column nowrap;
}
#descripcion .contenedorDescripcion .pIzquierda .imagen {
  height: 40%;
  padding-top: 50px;
}
#descripcion .contenedorDescripcion .pIzquierda .imagen img {
  width: 150px;
}
#descripcion .contenedorDescripcion .pIzquierda .texto {
  background-color: white;
  height: 50%;
}
#descripcion .contenedorDescripcion .pIzquierda .texto button {
  padding: 4px 60px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #c9c9c9;
  transition: all 0.2s;
  font-weight: 300;
  margin-top: 20px;
}
#descripcion .contenedorDescripcion .pIzquierda .texto button:active {
  box-shadow: 0px 0px 0px #dadada;
}
#descripcion .contenedorDescripcion .pIzquierda .texto p {
  margin-top: 0px;
}
#descripcion .contenedorDescripcion .pIzquierda .texto p a {
  color: grey;
  font-size: 11px;
  text-decoration: none;
}
#descripcion .contenedorDescripcion .pIzquierda ul {
  list-style: none;
  text-align: left;
  padding: 30px 17px 0px 15px;
}
#descripcion .contenedorDescripcion .pIzquierda ul li {
  line-height: 25px;
  font-weight: 200;
}
#descripcion .contenedorDescripcion .pDerecha {
  width: 70%;
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
}
#descripcion .contenedorDescripcion .pDerecha h1 {
  font-size: 30px;
}
#descripcion .contenedorDescripcion .pDerecha p {
  text-align: left;
  margin-top: 15px;
  font-weight: 200;
}
#descripcion .contenedorDescripcion .pDerecha a {
  color: deeppink;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
}
#descripcion .contenedorDescripcion .pDerecha a:hover {
  color: #ff67b8;
}

#ubicacion {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#ubicacion h1 {
  font-size: 42px;
  font-weight: 200;
}
#ubicacion h1 span {
  background-color: #ff0062;
  color: white;
}
#ubicacion h6 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 3px 10px;
  transition: all 0.2s;
}
#ubicacion h6 a:hover {
  background-color: #777777;
  color: white;
}
#ubicacion iframe {
  margin-top: 50px;
  position: relative;
}

#mediosDePago {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}
#mediosDePago h1 {
  font-size: 42px;
  font-weight: 200;
}
#mediosDePago h1 span {
  background-color: #ff0062;
  color: white;
}
#mediosDePago h6 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
  color: #505050;
  background-color: #d8d8d8;
  padding: 3px 10px;
  transition: all 0.2s;
}
#mediosDePago h6 a:hover {
  background-color: #777777;
  color: white;
}
#mediosDePago .contenedorPagos {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#mediosDePago .contenedorPagos .tarjetaDebito {
  width: 30%;
  justify-content: center;
}
#mediosDePago .contenedorPagos .tarjetaCredito {
  width: 30%;
}
#mediosDePago .contenedorPagos .transferencia {
  width: 30%;
}
#mediosDePago .contenedorPagos h3 {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#mediosDePago .contenedorPagos img {
  width: 70px;
}

#footer p {
  text-align: center;
  font-weight: 200;
}
#footer p a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 300;
}
#footer p a:hover {
  color: #ff65b7;
}

@media (max-width: 932px) {
  #productos_disponibles {
    justify-content: space-around !important;
  }
}

/*# sourceMappingURL=stores.css.map */
