* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  z-index: 0;
}
body #header .navbar {
  box-shadow: 0px 0px 10px #bbbbbb;
  padding: 3px;
}
body #header .navbar .container-fluid .navbar-brand img {
  width: 80px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  margin: 0px 5px;
  align-self: center;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 700px;
  height: 400px;
  padding: 0px;
  top: 50px;
  box-shadow: 0px 0px 30px black;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown {
  width: 700px;
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown {
  width: 200px;
  height: 399px;
  border-right: 1px solid grey;
  overflow-x: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll {
  overflow-x: scroll;
  width: 100%;
  height: 396px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li {
  text-transform: uppercase;
  font-size: 13px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item {
  width: 98%;
  height: 50px;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 2px;
  padding: 6px 5px;
  transition: all 0.2s;
  font-weight: 600;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item span {
  font-size: 10px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .left-part-dropdown .container-scroll li .dropdown-item:hover {
  background-color: #c00000;
  color: white;
  transform: translateX(10px);
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown {
  width: calc(700px - 200px);
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top {
  display: flex;
  flex-flow: row nowrap;
  width: 98%;
  height: 79%;
  border: 1px solid #d5d5d5;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul h6 {
  font-weight: 700;
  text-decoration: underline;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin: 0px 1px;
  font-weight: 300;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li {
  border: 1px solid transparent;
  margin: 0px 0px;
  padding: 0px;
  border-radius: 5px;
  transition: all 0.2s;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top ul a li:hover {
  color: #b60000;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-top .button-verCursos button {
  width: 100%;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom {
  width: 98%;
  height: 18%;
  background-color: #c00000;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images {
  display: flex;
  flex-flow: row nowrap;
  animation: miniSlider 30s infinite alternate linear;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .container-dropdown .right-part-dropdown .container-information-bottom .container-images img {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:first-child a {
  padding-left: 0px;
}
body #header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:last-child a {
  padding: 7.5px 15px;
  text-decoration: bold;
  margin-left: 7.5px;
}
body #header .navbar .container-fluid .navbar-collapse form {
  white-space: nowrap;
  transition: all 0.5s;
}
body #main {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 56px - 50px);
  z-index: 0;
}
body #main .top-part {
  width: 100%;
  height: calc(50%);
  display: flex;
  flex-flow: row nowrap;
}
body #main .top-part .left-part {
  font-weight: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #main .top-part .left-part h1 {
  margin: 0px;
  color: #1f1f1f;
  font-weight: 500;
  letter-spacing: -4px;
  font-size: 80px;
}
body #main .top-part .left-part h1 .iade {
  animation: oscilarIade 5s infinite alternate;
  letter-spacing: -7px;
}
body #main .top-part .left-part h1 .it {
  color: #d10000;
  font-size: 180px;
  font-weight: 300;
  letter-spacing: -14px;
  animation: oscilarIt 5s infinite alternate;
}
body #main .top-part .left-part p {
  margin-top: -40px;
  margin-left: -378px;
  font-size: 14px;
  font-weight: 500;
}
body #main .top-part .left-part h5 {
  color: #727272;
  border-left: 2px solid red;
  padding-left: 10px;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: -1px;
  text-align: start;
  width: 80%;
  margin: auto;
}
body #main .top-part .left-part button {
  width: 80%;
}
body #main .top-part .right-part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: center;
  overflow: hidden;
}
body #main .top-part .right-part img {
  animation: slider 20s infinite linear;
}
body #main .middle-part {
  max-width: 100%;
  min-height: 80px;
  max-height: 200px;
  display: flex;
  justify-content: space-evenly;
  background-color: #c50000;
  box-shadow: 0px 0px 20px #6b6b6b;
}
body #main .middle-part .card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: transparent;
  border: none;
}
body #main .middle-part .card .icono {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin-right: 2px;
}
body #main .middle-part .card .icono img {
  width: 30px;
}
body #main .middle-part .card .informacion {
  width: 100%;
  height: 100%;
  display: flex;
}
body #main .middle-part .card .informacion h5 {
  color: white;
  margin: 0px;
  padding: 0px 5px;
  line-height: 49px;
  font-weight: 300;
  font-size: 18px;
  align-self: center;
  border-left: 1px solid #e2e2e2;
}
body #main .bottom-part {
  width: 100%;
  height: calc(50%);
  display: flex;
  flex-flow: row nowrap;
}
body #main .bottom-part .right-part {
  display: flex;
  width: 100%;
  height: 100%;
}
body #main .bottom-part .right-part .container-courses {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: space-evenly;
  align-content: space-evenly;
}
body #main .bottom-part .right-part .container-courses a {
  border-radius: 5px;
}
body #main .bottom-part .right-part .container-courses a .course {
  border: 1px solid none;
  width: 400px;
  height: 100px;
  box-shadow: 5px 5px 10px #727272;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
body #main .bottom-part .right-part .container-courses a .course .badge:first-child {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 12px;
}
body #main .bottom-part .right-part .container-courses a .course .badge:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 12px;
}
body #main .bottom-part .right-part .container-courses a .course p {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 10px 5px 0px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
body #main .bottom-part .right-part .container-courses a .course::after {
  background: rgba(0, 0, 0, 0.658);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.2s;
}
body #main .bottom-part .right-part .container-courses a:nth-child(1) .course {
  background-image: url("../images/transformacion-digital.jpeg");
}
body #main .bottom-part .right-part .container-courses a:nth-child(2) .course {
  background-image: url("../images/curso-html.png");
}
body #main .bottom-part .right-part .container-courses a:nth-child(3) .course {
  background-image: url("../images/facebook-ads.png");
}
body #main .bottom-part .right-part .container-courses a:nth-child(4) .course {
  background-image: url("../images/criptomonedas.jpeg");
}
body #main .bottom-part .right-part .container-courses a:nth-child(5) .course {
  background-image: url("../images/google-ads.jpeg");
}
body #main .bottom-part .right-part .container-courses a:nth-child(6) .course {
  background-image: url("../images/curso-office.png");
}
body #main .bottom-part .right-part .container-courses a:hover .course p {
  animation: mostrarPalabra 0.3s;
  text-shadow: 0px 0px 5px black;
}
body #main .bottom-part .right-part .container-courses a:hover .course::after {
  background-color: rgba(0, 0, 0, 0.253);
}
body #main .part {
  text-align: center;
}
body #footer {
  width: 100%;
  height: 50px;
  text-align: center;
}
body #footer .btn-cart {
  position: relative;
  width: 80px;
}
body #footer .btn-cart span {
  position: absolute;
  top: 0;
  right: 0;
}
body #footer .offcanvas {
  background-color: white;
  border: 1px solid white;
  height: 110px;
}
body #footer .offcanvas .offcanvas-header .offcanvas-title {
  font-weight: 400;
}
@keyframes oscilarIade {
  0% {
    color: #e40303;
  }
  100% {
    color: transparent;
  }
}
@keyframes oscilarIt {
  0% {
    color: transparent;
  }
  100% {
    color: #e40303;
    margin-left: -100px;
  }
}
@keyframes mostrarPalabra {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slider {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-700px);
  }
}
@keyframes miniSlider {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(-300px);
  }
}

/*# sourceMappingURL=styles.css.map */
