* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'system-ui';
}

body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: relative;
    z-index: 0;
    #header {
        .navbar {
            box-shadow: 0px 0px 10px rgb(129, 129, 129);
            padding: 3px;
            .container-fluid {
                .navbar-brand {
                    img {
                        width: 80px;
                    }
                }
                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            margin: 0px 5px;
                            align-self: center;
                            .dropdown-menu {
                                width: 700px;
                                height: 400px;
                                padding: 0px;
                                top: 50px;
                                box-shadow: 0px 0px 30px rgb(135, 135, 135);
                                .container-dropdown {
                                    width: 700px;
                                    height: 400px;
                                    display: flex;
                                    flex-flow: row nowrap;
                                    .left-part-dropdown {
                                        width: 200px;
                                        height: 399px;
                                        border-right: 1px solid grey;
                                        overflow-x: hidden;
                                        .container-scroll {
                                            overflow-x: scroll;
                                            width: 100%;
                                            height: 396px;
                                            li {
                                                text-transform: uppercase;
                                                font-size: 13px;
                                                .dropdown-item {
                                                    width: 98%;
                                                    height: 50px;
                                                    background-color: whitesmoke;
                                                    margin: 0 auto;
                                                    margin-top: 2px;
                                                    padding: 6px 5px;
                                                    transition: all .2s;
                                                    font-weight: 600;
                                                    span {
                                                        font-size: 10px;
                                                        font-weight: 300;
                                                    }
                                                }
                                                .dropdown-item:hover {
                                                    background-color: rgb(192, 0, 0);
                                                    color: white;
                                                    transform: translateX(10px)
                                                }
                                            }
                                        }
                                    }
                                    .right-part-dropdown {
                                        width: calc(700px - 200px);
                                        height: 400px;
                                        display: flex;
                                        flex-flow: column nowrap;
                                        justify-content: space-evenly;
                                        .container-information-top {
                                            display: flex;
                                            flex-flow: row nowrap;
                                            width: 98%;
                                            height: 79%;
                                            border: 1px solid rgb(213, 213, 213);
                                            margin: 0 auto;
                                            border-radius: 5px;
                                            padding: 30px;
                                            text-align: center;
                                            justify-content: space-evenly;
                                            position: relative;
                                            ul {
                                                list-style: none;
                                                padding: 0px;
                                                display: flex;
                                                flex-flow: column nowrap;
                                                align-items: flex-start;
                                                h6 {
                                                    font-weight: 700;
                                                    text-decoration: underline;
                                                }
                                                a {
                                                    color: black;
                                                    text-decoration: none;
                                                    border-radius: 5px;
                                                    margin: 0px 1px;
                                                    font-weight: 300;
                                                    li {
                                                        border: 1px solid transparent;
                                                        margin: 0px 0px;
                                                        padding: 0px;
                                                        border-radius: 5px;
                                                        transition: all .2s;                                     
                                                    }
                                                    li:hover {
                                                        color: rgb(182, 0, 0);
                                                    }
                                                }
                                            }
                                            .button-verCursos {
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                right: 0;
                                                button {
                                                    width: 100%;
                                                }
                                            }
                                            
                                        }
                                        .container-information-bottom {
                                            width: 98%;
                                            height: 18%;
                                            background-color: rgb(192, 0, 0);
                                            margin: 0 auto;
                                            border-radius: 5px;
                                            overflow: hidden;
                                            .container-images {
                                                display: flex;
                                                flex-flow: row nowrap;
                                                animation: miniSlider 30s infinite alternate linear;
                                                img {
                                                    width: 30px;
                                                    height: 30px;
                                                    margin: 20px 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .nav-item:first-child {
                            a {
                                padding-left: 0px;
                            }
                        }
                        .nav-item:last-child {
                            a {
                                padding: 7.5px 15px;
                                text-decoration: bold;
                                margin-left: 7.5px;
                            }
                        }
                    }
                    form {
                        white-space: nowrap;
                        transition: all .5s;
                    }
                }
            }
        }
    }
    #main {
        width: 100%;
        height: calc(100% - 56.66px);
        .portada {
            width: 100%;
            height: 80vh;
            background-image: url("../images/fondo.jpg");
            background-position-y: -20px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: 1;
            .container-imagen {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 300px;
                    height: 150px;
                }
            }
        }
        .portada::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.377);
            z-index: -1;
        }
        .pie-de-portada {
            width: 100%;
            height: calc(20vh - 56.66px);
            background: rgb(142,0,0);
            background: linear-gradient(0deg, rgba(142,0,0,1) 0%, rgba(176,2,2,1) 30%, rgba(170,0,2,1) 71%, rgba(144,0,0,1) 100%);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.322);
            display: flex;
            justify-content: space-evenly;
            .card {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                background-color: transparent;
                border: none;
                .icono {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    padding-top: 10px;
                    margin-right: 2px;
                    overflow: hidden;
                    img {
                        width: 30px;
                        animation: mostrarIcono 1s;
                    }
                }
                .informacion {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    overflow: hidden;
                    // flex-flow: column nowrap;
                    h5 {
                        color: white;
                        margin: 0px;
                        padding: 0px 5px;
                        line-height: 49px;
                        font-weight: 300;
                        font-size: 18px;
                        align-self: center;
                        border-left: 1px solid rgb(226, 226, 226);
                        animation: mostrarTexto 1s;
                    }
                }
            }
        }
    }
    #escuelas {
        width: 100%;
        height:400px;
        display: flex;
        flex-flow: column nowrap;
        .titulo {
            margin: 50px 0px;
            text-align: center;
            display: flex;
            justify-content: center;
            h1 {
                font-weight: 300;
                padding: 5px 20px 5px 20px; 
                width: auto;
                border-radius: 5px;
                letter-spacing: -2px;
                color: rgb(206, 2, 2);
                font-size: 40px;
                text-shadow: 0px 0px 20px rgb(212, 212, 212);
                border: 2px solid rgb(206, 2, 2);
            }
        }
        .part {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            .container-escuelas {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: space-evenly;
                a {
                    border-radius: 5px;
                    .escuela {
                        border: 1px solid none;
                        width: 200px;
                        height: 100px;
                        box-shadow: 5px 5px 10px rgb(114, 114, 114);
                        border-radius: 5px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        z-index: 1;
                        border-radius: 5px;
                        overflow: hidden;
                        margin: 10px 10px;
                        .badge:first-child {
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-weight: 500;
                            font-size: 12px;
                        }
                        .badge:nth-child(2) {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-weight: 600;
                            font-size: 12px;
                        }
                        p {
                            color: white;
                            position: absolute;
                            bottom: 35%;
                            top: 35%;
                            right: 0;
                            left: 0;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin: 0px;
                        }
                    }
                    .escuela::after {
                        background: rgba(0, 0, 0, 0.658);
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 5px;
                        transition: all .2s;
                    }
                }
                a:nth-child(1) .escuela {
                    background-image:url('../images/transformacion-digital.jpeg');
                }
                a:nth-child(2) .escuela {
                    background-image:url('../images/curso-html.png');
                }
                a:nth-child(3) .escuela {
                    background-image:url('../images/facebook-ads.png');
                }
                a:nth-child(4) .escuela {
                    background-image:url('../images/criptomonedas.jpeg');
                }
                a:nth-child(5) .escuela {
                    background-image:url('../images/google-ads.jpeg');
                }
                a:nth-child(6) .escuela {
                    background-image:url('../images/curso-office.png');
                }
                a:nth-child(7) .escuela {
                    background-image:url('../images/criptomonedas.jpeg');
                }
                a:nth-child(8) .escuela {
                    background-image:url('../images/google-ads.jpeg');
                }
                a:nth-child(9) .escuela {
                    background-image:url('../images/curso-office.png');
                }

                a:hover .escuela p{
                    animation: mostrarPalabra .3s;
                    text-shadow: 0px 0px 5px black;
                }
                a:hover .escuela::after {
                    background-color: rgba(0, 0, 0, 0.253);
                }
            }
        }
    }
    #slider-iconos {
        width: 100%;
        height: calc(20vh - 56.66px);
        background: rgb(142,0,0);
        background: linear-gradient(0deg, rgba(142,0,0,1) 0%, rgba(176,2,2,1) 30%, rgba(170,0,2,1) 71%, rgba(144,0,0,1) 100%);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.322);
        margin: 50px 0px;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        .card {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background-color: transparent;
            border: none;
            animation: slider 30s infinite linear;
            .icono {
                width: 50px;
                height: 50px;
                text-align: center;
                padding-top: 10px;
                margin-right: 2px;
                overflow: hidden;
                margin: 0px 10px;
                img {
                    width: 30px;
                }
            }
        }
    }
    #institucional {
        width: 100%;
        .titulo {
            margin: 50px 0px;
            text-align: center;
            display: flex;
            justify-content: center;
            h1 {
                font-weight: 300;
                padding: 5px 20px 5px 20px; 
                width: auto;
                border-radius: 5px;
                letter-spacing: -2px;
                color: rgb(206, 2, 2);
                font-size: 40px;
                text-shadow: 0px 0px 20px rgb(212, 212, 212);
                border: 2px solid rgb(206, 2, 2);
            }
        }
        .nuestra-informacion {
            width: 90%;
            height: 100%;
            margin: auto;
            margin-bottom: 50px;
            .top-part {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                border-radius: 5px;
                margin-bottom: 40px;
                .left-content {
                    width: 35%;
                    height: 100%;
                    margin: 0px 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.068);
                    }
                }
                .right-content {
                    width: 63%;
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 0px 5px;
                    .titulo {
                        margin: 0px 0px 20px 0px;
                        border-radius: 5px;
                        align-self: flex-start;
                        h2 {
                            margin: 0px;
                            padding: 10px 10px;
                            font-weight: 400;
                            letter-spacing: -2px;
                            color: black;
                            text-align: left;
                        }
                    }
                    .texto {
                        height: 100%;
                        padding: 10px;
                        p {
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
            }
            .bottom-part {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                border-radius: 5px;
                .left-content {
                    width: 63%;
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 0px 5px;
                    .titulo {
                        margin: 0px 0px 20px 0px;
                        border-radius: 5px;
                        align-self: flex-end;
                        h2 {
                            margin: 0px;
                            padding: 10px 10px;
                            font-weight: 400;
                            letter-spacing: -2px;
                            color: black;
                        }
                    }
                    .texto {
                        height: 100%;
                        padding: 10px;
                        text-align: right;
                        p {
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
                .right-content {
                    width: 35%;
                    height: 100%;
                    margin: 0px 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.068);
                    }
                }
            }
        }
    }
    #slider-valoraciones {
        width: 100%;
        height: 250px;
        margin: 50px 0px;
        display: flex;
        overflow: hidden;
        align-items: center;
        .card-valoracion {
            min-width: 400px;
            width: 400px;
            min-height: 200px;
            height: 200px;
            margin: 0px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
            display: flex;
            flex-flow: row nowrap;
            box-shadow: 0px 0px 20px rgb(122, 122, 122);
            background: rgb(142,0,0);
            background: linear-gradient(0deg, rgba(142,0,0,1) 0%, rgba(176,2,2,1) 30%, rgba(170,0,2,1) 71%, rgba(144,0,0,1) 100%);
            animation: sliderReputation 50s infinite linear;
            .left-part {
                width: 30%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                padding: 0px 10px;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                }
            }
            .right-part {
                width: 100%;
                height: 100%;
                padding: 10px 10px;
                color: white;
                .titulo {
                    h3 {
                        color: rgb(255, 255, 255);
                    }
                    p {
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 13px;
                        margin-top: 5px;
                        color: whitesmoke;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
                .texto {
                    p {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    #footer {
        width: 100%;
        height: 50px;
        background-color: whitesmoke;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .left-part {
            width: 48%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            p {
                margin: 0px;
                padding: 5px;
                a {
                    padding: 5px 10px;
                    text-decoration: none;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    color: rgb(211, 0, 0);
                    transition: all .2s;
                }
                a:hover {
                    background-color: whitesmoke;
                    color: rgb(211, 0, 0);
                    border: 1px solid rgb(211, 0, 0);
                }
            }
            
        }
        .right-part {
            width: 48%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                letter-spacing: 0px;
                margin: 0px;
                span {
                    font-weight: 600;
                } 
            }
        }
    }
}

// Keyframes //
@keyframes miniSlider {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(-300px);
    }
}
@keyframes slider {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(-1000px);
    }
}
@keyframes mostrarIcono {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes mostrarTexto {
    0% {
        transform: translateX(-400px);
    }
    50% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes mostrarPalabra {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes sliderReputation {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-1000px);
    }
}