// Responsive Media Queries //

@media screen and (max-width: 894px) {
    body {
        #main {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            .left-part {
                .title {
                    white-space: nowrap;
                }
            }
        }
    }
}